parameters:
    level: 3
    paths:
        - bootstrap/app.php
        - public/index.php
        - src/Controller
        - src/Db
        - src/Model
        - src/Service
        - tests
    tmpDir: tmp/phpstan
    checkDynamicProperties: true
    ignoreErrors:
        - '#Call to an undefined static method App\\Model\\[A-Za-z_]+::[A-Za-z_]+\(\).#'
        - '#Access to an undefined property App\\Model\\[A-Za-z_]+::\$[A-Za-z_]+\.#'
        - '#Variable \$http_response_header on left side of \?\? always exists and is not nullable\.#'
